{% extends 'layouts/backend.html.twig' %}

{% block title %}Add Database{% endblock %}

{% block content %}
    <div class="w-full flex justify-center bg-white rounded shadow p-5">
        {{ include('backend/databases/_partials/form.html.twig', {'action': url_for('database.store')}) }}
    </div>
{% endblock %}