<div class="w-full flex flex-wrap text-center text-gray-500 bg-white shadow rounded p-3">
    <div class="w-full flex justify-center mb-3">{{ include('icons/info.svg.twig', {size: 70}) }}</div>
    <div class="w-full font-semibold">No items found</div>
</div>